:root {
  --primaty-text-color: #212121;
  --title-text-color-primary: #212121;
  --title-text-color-secondary: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-gray-color: #f5f4fa;
}

/* Основные цвета на странице */
body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color-primary);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

/* Header */
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color-primary);
}

/* Navigation */

.nav-list .item:hover,
.nav-list .item:focus {
  color: var(--accent-color);
}

.nav-list .item {
  color: var(--primaty-text-color);
  text-decoration: none;
}

.nav-list {
  list-style: none;
}

/* Adress */

.adress .item {
  text-decoration: none;
  color: var(--title-text-color-secondary);
}

.adress .item:hover,
.adress .item:focus {
  color: var(--accent-color);
}

.adress {
  list-style: none;
}

/* Main */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.button {
  color: var(--primaty-text-color);
  background-color: var(--primary-white-color);
  text-decoration: none;
}

.button.primary {
  color: var(--title-text-color-secondary);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.primary.dark {
  color: var(--title-text-color-primary);
  background-color: var(--secondary-gray-color);
}

.button.primary.dark:hover,
.button.primary.dark:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Advantage */

.advantage {
  color: var(--title-text-color-primary);
}

.advantage .list {
  list-style: none;
}

.advantage-words {
  color: var(--title-text-color-secondary);
}

/* Our team */
.teamlist {
  list-style: none;
}

.teamlist .list {
  list-style: none;
}

.teamlist .button.primary:hover,
.teamlist .button.primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Clients */

.clients .button.primary:hover,
.clients .button.primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/* Project list */

.list .item {
  text-decoration: none;
  color: var(--title-text-color-primary);
}

.list .paragraph {
  color: var(--title-text-color-secondary);
}

.paragraph {
  font-size: 16px;
  line-height: 1.87;
}
